$color-1: #00a372;
$color-2: #a5d9c7;
$color-3: white;
$color-4: #727272;
$color-5: #000000;

// $color-1: orange;
// $color-2: lightblue;
// $color-3: white;
// $color-4: #727272;

$font-1: 'BNPRounded', Arial, Helvetica, sans-serif;
$font-2: 'BNPSansCondensed', Arial, Helvetica, sans-serif; 

$font-size: 14px;

$border-radius: 4px;

$footer-height: 60px;
