<div>
    {{ 'Startpage.TranslationSections' | translate }}
  </div>

<p-dataTable [value]="lists" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    
    <p-column field="id" header="ID" [sortable]="true">
        <ng-template let-row="rowData" pTemplate type="body">
            <a routerLink="/lists/{{row.id}}">{{row.name}}</a>
        </ng-template>
    </p-column>
        
    
    <p-column field="reference" header="Reference" [sortable]="true">
        <ng-template let-row="rowData" pTemplate type="body">
            <a routerLink="/lists/{{row.id}}">{{row.reference}}</a>
        </ng-template>
    </p-column>

    <p-column field="shortName" header="{{'grid_lists.short_name' | translate}}" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column>
        <ng-template let-row="rowData" let-i="rowIndex" pTemplate="body">
            <button pButton (click)="deleteRow(row)" icon="fa fa-trash-o"> </button>
        </ng-template>
    </p-column>

</p-dataTable>

<p-confirmDialog id="popupBorrar" header="Confirmation" width="425" acceptLabel="Add" #cd></p-confirmDialog>

<button class="btn btn error" (click)="showToastrError()">Show error toastr</button>

<router-outlet></router-outlet>